@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/* Selectores */

*{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;

}

html{
	font-size: 62.5%;
	}

a{
	text-decoration: none;
}

h1,h2,h3{
	color: #AB6550;
}

p{
	color:#AB6550;
}


/* Display Gird */

.contenedor{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas: "nav" "textHeader" "imgHeader" "planes" "footer";
}

.masGrande{
	font-size: 50px;
}

.noTanGrande{
	font-size: 40px;
}

.casiChico{
	font-size: 25px;
}


#nav{
	grid-area: nav;
}

#textHeader{
	grid-area: textHeader;
}

#imgHeader{
	grid-area: imgHeader;
}

#planes{
	grid-area: planes;
}

#footer{
	grid-area: footer;
}

/* Nav */

.espacioUl{
padding: 10px;
}

.encabezado{
		background-color: #AB6550;
		opacity: 0.7;
		position: sticky;	
		top: 0;
		padding: 20px 30px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 10px;
		align-items: center;
		text-align: center;
	}

	.divContador{

		margin: 20px;
	}

	.encabezado img{
		width: 200px;
		margin-bottom: 5px;
	}

	.encabezado ol{
		display: flex;
		align-items: center;
		text-align: center;
	}

	.encabezado ol li{
		list-style: none;
		margin-right: 20px;
		text-align: center;
		align-items: center;
	}
		.encabezado ol li a{
			font-size: 1.8rem;
			text-decoration: none;
			color: white;
			align-items: center;
		}
		.encabezado ol li a:hover{
			color: black;
			font-weight: 600;
		}

		.encabezado ol li button{

			text-align: center;
			justify-content: flex-end;
			box-sizing: border-box;
			width: 70px;
			height: 70px;
			overflow-y: hidden;
			align-items: center;
			
		}

		.encabezado ol li button img{
			width: 50px;
			height: 50px;
			text-align: center;
			align-items: center;
		}

.textoEncabezado{
	display: inline-block;
	color: #AB6550;
	font-size: 3rem;
		}

		.textoCentrado{
			display: flex;
  			align-items: bottom;
			}

.textCima{
	display: inline-block;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
	font-weight: 900;
	color: #AB6550;
	font-size: 3rem;
		}

	.imgEncabezado{
	width:80%;
	margin-bottom: 10px;
	}

/* Boton Contactar */

.button{
margin-bottom: 20px;
 padding: 10px;
 border: unset;
 border-radius: 15px;
 color: white;
 z-index: 1;
 background: #AB6550;
 position: relative;
 font-weight: 800;
 font-size: 2rem;
 -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 transition: all 250ms;
 overflow: hidden;
}

button {
 position: relative;
 display: inline-block;
 margin-top: 10px;
 padding: 10px 10px;
 text-align: center;
 font-size: 2rem;
 letter-spacing: 1px;
 text-decoration: none;
 color: #AB6550;
 background: transparent;
 cursor: pointer;
 transition: ease-out 0.5s;
 border-radius: 30px;
 border: 2px solid #AB6550;
 border-radius: 10px;
 box-shadow: inset 0 0 0 0 #AB6550;
}

button:hover {
 color: white;
 box-shadow: inset 0 -100px 0 0 #AB6550;
}

button:active {
 transform: scale(0.9);
}


/* Clases generales */

	
.titulos{
	text-align:center;
	color: #AB6550;
	font-size: 2rem;
	margin-top: 10px;
	margin-bottom: 10px;
		}

.subtitulos{
	text-align:center;
	color: #AB6550;
	font-size: 1.8rem;
		}

.textoPlanes{
	margin-top: 0px;
	margin-bottom: 20px;
	text-align:center;
	line-height: 2.2rem;
	font-size: 1.5rem;
}

.textBold{
	font-weight: bolder;
}

.textCenter{
	text-align: center;
}

.textRight{
	text-align: right;
}

.textLeft{
	text-align: left;
}

/* Clases del Footer */

.pie{
	padding:10px;
	display: inline-block;
	flex-direction: column;
	align-items: left;
	background-color: #AB6550;
	margin-top: 10px;
	margin-bottom: 5px;
}

.logoFooter{
	width: 30%;
	margin-bottom: 5px;
	}

.redesDerecha{
		font-size: 1.5rem;
		color: white;
		}

		.redesIcon{
		margin-top: 10px;
		width: 30px;
		}

		.nuestrosClientes{
			font-size: 3rem;
			}

		/* animations  */


/* animations  */

.animacionImagen{
width: 200px;
margin: 20px;
padding: 20px;
}

.animacionImagen:hover{
filter: blur(5px);
border-radius:50%;
-webkit-border-radius:50%;
box-shadow: 0px 0px 15px 15px #AB6550;
-webkit-box-shadow: 0px 0px 15px 15px #AB6550;
transform: rotate(360deg);
-webkit-transform: rotate(360deg);
}


@keyframes clientesAnimation{
	0%{font-size: 3rem}
	25%{font-size: 4rem}
	50%{font-size: 5rem}
	75%{font-size: 6rem}
	100%{font-size: 7rem}
	
}

.logoCarrito{
width: 3%!important;
align-content: center;
margin-top: 15px;
}

.clientesAnimation{
	animation-name:clientesAnimation ;
	animation-duration: 5s;
	animation-timing-function: linear;
}

.navbar {
	height: auto;
	padding: 2px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
  }
  .logo-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
  }
  .logo {
	margin-bottom: 10px;
  }
  
    
  .link-container {
	margin-right: 100px;
	
  }
  
  .link-container ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
  }
  
  .link {
	margin: 0 10px;
	color: var(--texto);
	font-size: 20px;
  }
  
  .link-activo{
	margin: 0 10px;
	margin-bottom: 5px;
	color: white;
	border: 1px solid var(--otro);
	padding: 4px 8px;
	border-radius: 10px;
	font-size: 20px;
	box-shadow: 1px 1px 10px rgb(34, 34, 34);
  }
